*{
    box-sizing:border box;}

.body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:16px;
    display:flex;
}

:root{
    --DarkGray: #242526;
    --Blue: cyan;
    --Gray: #c4c4c4;
    --border-radius: 30px;
}

.Header{
    display:flex;
    align-items: flex-end;
    padding: 20px;
    background-color: var(--DarkGray);
    color: var(--Blue);
}

.nav{
    display:flex;
}

.button{
    padding: 5px;

}

